/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.panel {
  height: 14px;
  width: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-image: url(/img/bg-panel.png);
}
.preview-text > .title-text__box > div > div.panel > p {
  margin: 0px 46px 0px 0px;
  font-family: Gotham Pro;
  font-size: 24px;
  font-weight: 100;
  color: white;
  height: 24px;
}
.panel > input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.23);
  background-color: rgba(0, 0, 0, 0.23);
  height: 45px;
  padding: 0 10px;
  color: white;
  outline: none;
  margin: 0 6px;
  width: 182px;
}
.panel > a {
  margin: 0 6px;
  line-height: 43px;
}
@media screen and (max-width: 920px) {
  .preview-text > .title-text__box > div > div.panel > p {
    margin: 0px 45px;
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .preview-text > .title-text__box > div > div.panel > p {
    margin: 0;
    width: 100%;
    height: 40px;
  }
  .panel {
    display: block;
    height: initial;
    padding: 30px 60px;
  }
}
@media screen and (max-width: 550px) {
  .panel > input {
    width: 285px;
  }
  .panel > a {
    margin-top: 20px;
    width: 285px;
  }
}

/* Magnific popup*/
.mfp-content > .popup {
  display: block;
  padding: 30px;
  background: #fff;
  max-width: 530px;
  margin: auto;
  max-height: initial;
}
.mfp-content > .popup img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 30px;
}
.mfp-content .popup__title {
  font: 700 14px/24px 'Open Sans';
  color: #88714c;
  margin: 0 0 5px;
}
.mfp-content .popup p {
  font: 300 14px/24px 'Open Sans';
  color: #000;
}
.mfp-content input.broker-call {
  background: transparent;
  border: none;
  outline: 0;
  text-align: center;
  display: block;
  width: 214px;
  margin: auto;
  font: 300 24px 'Open Sans';
  color: #666666;
  margin-bottom: 30px;
}
.mob {
  display: none;
}
@media (max-width: 768px) {
  .popup .right-menu__container {
    width: calc(100% - 10px) !important;
    padding-left: 10px;
    flex-basis: 17%;
  }
  .popup__container .right-menu__container .feedback-form {
    display: none;
  }
  .popup {
    width: 90%;
    max-height: 90%;
    padding-left: 0px;
  }
  .popup .right-menu__container {
    flex-basis: 15 !important;
  }
  .popup .right-menu__container a {
    font-size: 11px;
  }
  .popup .left-content__container .content__box {
    flex-grow: initial;
  }
  .popup .left-content__container .slider-image__container {
    flex-basis: 27%;
  }
  .popup .left-content__container .content__box p {
    max-height: 180px;
    overflow: auto;
    height: 180px;
    padding: 0px 10px 0 25px;
  }
  .popup .left-content__container .content__box > a {
    padding: 0 20px;
    margin: 15px auto !important;
    justify-content: center;
  }
  .mob {
    display: block;
    width: calc(100% - 60px);
    margin: 0 30px 10px;
  }
  .mob > h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .mob > input {
    float: none;
    height: 25px;
    width: calc(100% - 10px);
    margin-bottom: 15px;
    outline: none;
    padding: 0 3px;
    margin: 0 auto 15px;
    display: table;
    max-width: 410px;
  }
  .mob > a {
    width: 100%;
    text-align: center;
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #a12628;
    box-sizing: border-box;
    padding: 0px 23px;
    line-height: 35px;
    font-weight: lighter;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    padding: 0;
    padding: 0 20px;
    margin: 0px auto !important;
    justify-content: center;
    width: initial;
    float: none !important;
    display: table !important;
  }
}
@media (max-width: 500px) {
  .popup .left-content__container .slider-image__container {
    flex-basis: 30% !important;
  }
  .mob > h1 {
    font-size: 18px;
  }
  .mob > a {
    width: 100%;
    float: none;
    display: inline-flex;
  }
}
.mfp-content .submit-btn {
  font: 500 14px 'Open Sans';
  color: #fff;
  color: #fff;
  height: 46px;
  background: #a6995b;
  text-transform: uppercase;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0 20px;
}
@media screen and (max-width: 750px) {
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: '';
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: Gotham Pro;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  color: #530215;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  color: #530215;
  line-height: 30px;
}

.title-text__box p {
  font-family: 'Open Sans';
  font-weight: lighter;
  line-height: 26px;
  font-size: 16px;
}

.title-text__box span {
  display: inline-block;
}

.btn {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #a12628;
  box-sizing: border-box;
  padding: 1px 23px;
  line-height: 42px;
  font-weight: lighter;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.btn:hover {
  background-color: #8a2c2d;
}
.btn:active {
  transform: scale(0.98);
}

.popup-btn {
  cursor: pointer;
}

.content__box p {
  font-family: 'Open Sans';
  font-weight: lighter;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  color: #666666;
}

.content__box .sub-title {
  margin-top: 4px;
  margin-bottom: 10px;
}

.img__container {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.exit {
  width: 15px;
  height: 15px;
  background-image: url(/img/SVG/exit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  opacity: 0.7;
}
.exit:hover {
  opacity: 1;
}

.arrow {
  width: 13px;
  height: 12px;
  background-image: url(/img/SVG/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  opacity: 0.6;
}
.arrow:hover {
  opacity: 1;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 #33a98f;
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #33a98f;
    box-shadow: 0 0 0 0 #33a98f;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(51, 169, 143, 0);
    box-shadow: 0 0 0 10px rgba(51, 169, 143, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(51, 169, 143, 0);
    box-shadow: 0 0 0 0 rgba(51, 169, 143, 0);
  }
}

/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
}

.no-js #loader-wrapper {
  display: none;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: white;
  z-index: 10;
}

#loader {
  width: 128px;
  height: 230px;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
#loader img {
  width: 100%;
  position: absolute;
  -webkit-animation: turn 2s infinite;
  animation: turn 2s infinite;
  z-index: 1000;
}
#loader #inTurnFadingTextG {
  top: 70%;
  position: absolute;
  margin: auto;
  display: flex;
}
#loader .inTurnFadingTextG {
  color: black;
  font-family: Gotham Pro;
  font-size: 24px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  float: left;
  animation-name: bounce_inTurnFadingTextG;
  -o-animation-name: bounce_inTurnFadingTextG;
  -ms-animation-name: bounce_inTurnFadingTextG;
  -webkit-animation-name: bounce_inTurnFadingTextG;
  -moz-animation-name: bounce_inTurnFadingTextG;
  animation-duration: 2.09s;
  -o-animation-duration: 2.09s;
  -ms-animation-duration: 2.09s;
  -webkit-animation-duration: 2.09s;
  -moz-animation-duration: 2.09s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}
#loader #inTurnFadingTextG_1 {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
#loader #inTurnFadingTextG_2 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}
#loader #inTurnFadingTextG_3 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}
#loader #inTurnFadingTextG_4 {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}
#loader #inTurnFadingTextG_5 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}
#loader #inTurnFadingTextG_6 {
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
#loader #inTurnFadingTextG_7 {
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}
#loader #inTurnFadingTextG_8 {
  animation-delay: 1.79s;
  -o-animation-delay: 1.79s;
  -ms-animation-delay: 1.79s;
  -webkit-animation-delay: 1.79s;
  -moz-animation-delay: 1.79s;
}
#loader #inTurnFadingTextG_9 {
  animation-delay: 1.94s;
  -o-animation-delay: 1.94s;
  -ms-animation-delay: 1.94s;
  -webkit-animation-delay: 1.94s;
  -moz-animation-delay: 1.94s;
}
#loader #inTurnFadingTextG_10 {
  animation-delay: 2.09s;
  -o-animation-delay: 2.09s;
  -ms-animation-delay: 2.09s;
  -webkit-animation-delay: 2.09s;
  -moz-animation-delay: 2.09s;
}

@keyframes bounce_inTurnFadingTextG {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

@-o-keyframes bounce_inTurnFadingTextG {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

@-ms-keyframes bounce_inTurnFadingTextG {
  #loader 0% {
    color: black;
  }
  #loader 100% {
    color: white;
  }
}

@-webkit-keyframes bounce_inTurnFadingTextG {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

@-moz-keyframes bounce_inTurnFadingTextG {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

.front {
  z-index: 2;
}

@-webkit-keyframes turn {
  to {
    -webkit-transform: rotateY(360deg);
  }
}

@keyframes turn {
  to {
    transform: rotateY(360deg);
  }
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header .menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 96%;
  height: 100%;
}
header a {
  position: relative;
  color: black;
  line-height: 34px;
}
header a:not(.tel):after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #530215;
  transition: width 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
}
header a:hover:after,
header a[class~='active']:after {
  width: 100%;
}
header .tel {
  font-size: 30px;
  font-weight: 300;
  color: #a12627;
  word-spacing: 0px;
  letter-spacing: 0px;
  margin-top: -5px;
}
header .txt-central {
  height: 60px;
}
header .menu-mobile__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 101;
  background-color: white;
}
header .menu-mobile__wrap .txt-central {
  height: 60px;
}
header .hamburger {
  outline: none;
}
header .hamburger-inner,
header .hamburger-inner::before,
header .hamburger-inner::after {
  background-color: #760405;
}
@media (min-width: 1025px) {
  header .menu-mobile__wrap {
    display: none;
  }
}
@media (max-width: 1024px) {
  header {
    position: fixed;
    height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    z-index: 100;
  }
  header .menu-wrap {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    transition: transform 1s;
    transform: translateY(-100%);
  }
  header .menu-wrap[class~='active'] {
    transform: translateY(0%);
  }
  header .menu-wrap[class~='active'] a {
    opacity: 1;
  }
  header .menu-wrap .txt-central {
    display: none;
  }
  header .menu-wrap a {
    transition: opacity 1s;
    opacity: 0;
    margin: 0;
    margin-bottom: 16px;
  }
  header .menu-wrap .tel {
    font-size: 24px;
  }
}
@media (max-width: 560px) {
  header {
    height: 60px;
  }
  header .hamburger {
    transform: scale(0.8);
  }
  header .menu-wrap .tel {
    /*font-size: 16px;*/
  }
  header .menu-mobile__wrap .txt-central {
    height: 45px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}
@media (orientation: landscape) and (max-height: 560px) {
  header {
    height: 73px;
  }
  header .hamburger {
    transform: scale(0.8);
  }
  header .menu-wrap .tel {
    /*font-size: 16px;*/
  }
  header .menu-mobile__wrap .txt-central {
    height: 45px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}

.preview {
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  position: relative;
  background-image: url('/img/bg-header.jpg');
  background-size: cover;
}
.preview video {
  width: 100%;
  margin-top: -10%;
  position: absolute;
  top: 0;
  left: 0;
}
.preview .preview-text {
  width: 100%;
  min-height: 600px;
  padding-bottom: 50px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.preview .preview-text .sep {
  width: 56px;
  height: 2px;
  background-color: white;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 10px;
}
.preview .preview-text p {
  margin-top: 0;
  margin-bottom: 34px;
}
.preview .preview-text span {
  max-width: 775px;
  width: 90%;
}
.preview .title-text__box {
  padding-top: 153px;
}
@media (max-width: 1300px) {
  .preview video {
    margin-top: -2%;
  }
}
@media (max-width: 1024px) {
  .preview video {
    height: 100%;
    width: auto;
    margin-top: 0;
  }
}

.our-project__section {
  width: 100%;
  padding: 53px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  /*.is_sticky {
        transform: translate3d(0,0,0)
    }*/
}
.our-project__section .projects-main__wrap {
  width: 100%;
  position: relative;
  margin-top: 34px;
}
.our-project__section .preview-text {
  width: 100%;
  text-align: center;
}
.our-project__section .preview-text p {
  line-height: 24px;
}
.our-project__section .preview-text span {
  max-width: 650px;
  width: 90%;
}
.our-project__section .grid-sizer {
  width: 32.16%;
}
.our-project__section .content__box {
  width: 62.5vw;
  position: relative;
  margin: 0 auto;
}
.our-project__section .column__element {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.our-project__section .img__container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  transition: 0.5s;
}
.our-project__section .img__container:hover {
  transform: scale(1.2);
}
.our-project__section .text__container {
  padding: 26px 35px;
  box-sizing: border-box;
}
.our-project__section .column__element:first-child {
  flex-basis: 100%;
  width: 100%;
  height: 460px;
  flex-direction: row;
}
.our-project__section .column__element:first-child .img__container {
  height: 100%;
  width: 66.3%;
  margin: 0;
}
.our-project__section .column__element:first-child .text__container {
  width: 34%;
  height: 100%;
  padding: 0px 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-project__section .column__element:first-child .first-column-text__wrap {
  height: 90%;
}
.our-project__section .mid__container {
  height: 254px;
}
.our-project__section .edge__container {
  height: 386px;
}
.our-project__section .project-text__wrap {
  height: 100%;
  overflow: hidden;
}
.our-project__section .project-text__wrap .arrow {
  display: inline-block !important;
  width: 10px;
  height: 9px;
  margin-left: 3px;
}
.our-project__section .first-column-text__wrap {
  height: auto;
}
@media (max-width: 1366px) and (min-width: 1025px) {
  .our-project__section .content__box {
    width: 75vw;
    left: 5%;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .our-project__section .content__box {
    width: 90vw;
    left: 0%;
  }
}
@media (min-width: 769px) {
  .our-project__section .column__element__central {
    left: calc(50% - 16.08333%) !important;
  }
  .our-project__section .column__element__right {
    right: 0 !important;
    left: auto !important;
  }
}
@media (max-width: 768px) {
  .our-project__section .content__box {
    width: 90%;
  }
  .our-project__section .column__element:first-child .img__container {
    width: 55%;
  }
  .our-project__section .column__element:first-child .text__container {
    width: 45%;
  }
  .our-project__section .img__container {
    background-position: bottom;
  }
  .our-project__section .grid-sizer {
    width: 100%;
  }
  .our-project__section .mid__container {
    height: 254px;
  }
  .our-project__section .edge__container {
    height: 254px;
  }
}
@media (max-width: 560px) {
  .our-project__section .column__element:first-child {
    flex-direction: column;
  }
  .our-project__section .column__element:first-child .img__container {
    width: 100%;
  }
  .our-project__section .column__element:first-child .text__container {
    width: 100%;
    padding: 26px 35px;
  }
}

.left-menu__bar,
.center-menu__bar {
  z-index: 10;
  float: left;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.left-menu__bar .bar__box,
.center-menu__bar .bar__box {
  width: 8.32033vh;
  height: 8.32033vh;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.left-menu__bar .bar__box:hover:after,
.left-menu__bar .bar__box[class~='active']:after,
.center-menu__bar .bar__box:hover:after,
.center-menu__bar .bar__box[class~='active']:after {
  content: ' ';
  width: 30px;
  height: 300px;
  background: rgba(255, 255, 255, 0.85);
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  position: absolute;
  left: -100px;
  top: -100px;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  -khtml-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-animation-name: c;
  animation-name: c;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

@media (max-width: 1024px) {
  .left-menu__bar {
    display: none;
  }
}

.center-menu__bar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 20% 0 20%;
  box-sizing: border-box;
}
.center-menu__bar .bar__box {
  width: 120px;
  height: 120px;
  margin-right: 5px;
}
@media (min-width: 769px) {
  .center-menu__bar {
    display: none !important;
  }
}
@media (max-width: 560px) {
  .center-menu__bar {
    padding: 0 5% 0 5%;
  }
}

.swipe__helper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 55px;
  display: flex;
  align-items: center;
  z-index: 10;
}
.swipe__helper .swipe-arrow {
  width: 60px;
  height: 60px;
  transform: translateX(-30px) rotate(45deg);
  background-color: #33a98f;
  transition: opacity 300ms linear 400ms;
}
@media (min-width: 1025px) {
  .swipe__helper {
    display: none;
  }
}

.k12 {
  background-color: #598586;
}

.k12-img {
  width: 66%;
}

.cc {
  background-color: #88714c;
}

.cc-img {
  width: 66%;
}

.m19 {
  background-color: #995146;
}

.m19-img {
  width: 72%;
}

.c9 {
  background-color: #404040;
}

.c9-img {
  width: 62%;
}

.bg {
  background-color: #e5550d;
}

.bg-img {
  width: 59%;
}

.o25 {
  background-color: #605465;
  font-family: Gotham Pro;
  font-size: 28px;
  color: white;
}

.p44 {
  background-color: #6ac2c2;
}

.p44-img {
  width: 72%;
}

.text__container {
  z-index: 1;
  background-color: #f7f7f7;
}

@-webkit-keyframes c {
  0% {
    left: -100px;
  }
  30% {
    left: 300px;
  }
  to {
    left: 300px;
  }
}

@keyframes c {
  0% {
    left: -100px;
  }
  30% {
    left: 300px;
  }
  to {
    left: 300px;
  }
}

.map-section {
  width: 100%;
  height: 500px;
}
.map-section #map {
  width: 100%;
  height: 100%;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 560px;
  padding: 2% 5%;
  box-sizing: border-box;
  /*@media (max-width: 800px) {
        .img__container {
            height: 300px;
            margin-right: 20px;
            align-self: center;
        }
    }*/
}
.about-section .content__box {
  display: flex;
  max-width: 1200px;
}
.about-section .img-broker__container {
  flex-basis: 50%;
  max-width: 570px;
  float: left;
  margin-right: 59px;
}
.about-section .img__container {
  width: 100%;
  height: 420px;
}
.about-section .text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}
.about-section .text__container h2 {
  margin-bottom: 20px;
}
.about-section .text__container p {
  font-size: 16px;
  margin-bottom: 10px;
}
.about-section .sep {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 8px 0 15px;
}
.about-section .select-broker__box > p {
  font-family: Gotham Pro;
  font-size: 18px;
  margin: 20px 0;
  letter-spacing: 1.25px;
  word-spacing: 1px;
}
.about-section .select__list {
  display: flex;
  flex-wrap: wrap;
}
.about-section .select__element {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  transition-delay: 0.1s !important;
  cursor: pointer;
}
.imgj img {
  max-width: 100%;
  height: auto;
}
/*.zoommed-s
    {
      transform: scale(0.85) !important;
    }*/
.zoommed {
  transform: scale(1.15) !important;
}
.about-section .img__wrap {
  width: 86px;
  height: 86px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.content__box .text__container {
  padding: 30px 40px;
  box-sizing: border-box;
}
.about-section .text__container p strong {
  color: #2b2b2b;
  font-weight: 600;
}
@media (max-width: 800px) {
  .about-section {
    height: auto;
    padding: 5% 5%;
  }
  .about-section .content__box {
    flex-direction: column;
  }
  .about-section .img__container {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
  }
  .about-section .text__container {
    display: block;
  }
  .about-section .img-broker__container {
    margin-right: 0;
    max-width: 100%;
  }
  .about-section .select__element {
    margin: 0px 7px 15px;
  }
}
@media (max-width: 560px) {
  .about-section .img__container {
    height: 290px;
  }
}

.feedback-section {
  width: 100%;
  height: 540px;
  background-image: url(/img/fb-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.feedback-section .content__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 48, 49, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-section .title-text__box {
  margin-top: 60px;
}
.feedback-section .title-text__box h2 {
  color: white;
  letter-spacing: 3px;
  word-spacing: 2px;
}
.feedback-section .title-text__box p {
  margin-top: 22px;
}
.feedback-section .title-text__box span {
  color: white;
  max-width: 650px;
  width: 100%;
  font-size: 16px;
}
.feedback-section form {
  font-size: 14px;
  font-family: 'Open Sans';
  max-width: 695px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 46px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.feedback-section form input {
  flex-basis: 31.65468%;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  padding: 0 10px;
  color: white;
  outline: none;
}
.feedback-section form textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  height: 128px;
  margin-top: 15px;
  padding: 13px 10px;
  color: white;
  outline: none;
}
.feedback-section form input::-webkit-input-placeholder,
.feedback-section form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.feedback-section form input::-moz-placeholder,
.feedback-section form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.feedback-section form input:-moz-placeholder,
.feedback-section form textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.feedback-section form input:-ms-input-placeholder,
.feedback-section form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.35);
}
.feedback-section form .error {
  border-bottom: 2px solid #960000;
  color: red;
}
.feedback-section .btn {
  position: relative;
  overflow: hidden;
  margin: 44px auto;
  line-height: 14px;
  letter-spacing: 0px;
  padding: 15px 28px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.feedback-section .btn:hover {
  border-color: white;
}
.feedback-form .btn,
.broker-call .submit-wrapper {
  position: relative;
  overflow: hidden;
}
.feedback-section .btn::after,
.feedback-form .btn::after,
.popup .left-content__container .content__box a::after,
.broker-call .submit-wrapper::after {
  content: ' ';
  width: 30px;
  height: 300px;
  background: #fff;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  -khtml-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-animation-name: c;
  animation-name: c;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
@media (max-width: 560px) {
  .feedback-section {
    height: 730px;
  }
  .feedback-section .title-text__box span {
    width: 90%;
  }
  .feedback-section form {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
  }
  .feedback-section form input {
    flex-basis: 100%;
    margin-bottom: 5px;
  }
}
@media (orientation: landscape) and (max-height: 560px) {
  .feedback-section {
    height: 730px;
  }
  .feedback-section .title-text__box span {
    width: 90%;
  }
  .feedback-section form {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
  }
  .feedback-section form input {
    flex-basis: 100%;
    margin-bottom: 5px;
  }
}

footer {
  width: 100%;
  height: 120px;
  background-color: #1a1a1a;
}
footer a {
  font-family: Gotham;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.18);
}
footer a:hover {
  color: rgba(255, 255, 255, 0.3);
}
footer .footer__sec-1 {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__sec-1 .link__wrap {
  justify-content: space-between;
}
footer .footer__sec-2 {
  height: 40px;
  box-sizing: border-box;
  border-top: 1px solid #2d2d2d;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .link-box {
  display: flex;
  align-items: center;
}
footer .link__wrap {
  display: flex;
  max-width: 1153px;
  width: 96%;
}
footer img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 4px;
}
@media (max-width: 560px) {
  footer {
    height: 160px;
  }
  footer .footer__sec-1 {
    height: 120px;
  }
  footer .footer__sec-1 .link__wrap {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}

.popup {
  max-width: 1200px;
  width: 80%;
  max-height: 810px;
  height: 90%;
  display: flex;
  box-sizing: border-box;
  padding-left: 10px;
  background-color: white;
  position: relative;
  z-index: 999;
}
.popup .left-content__container,
.popup .right-menu__container {
  height: 100%;
}
.popup .left-content__container {
  flex-basis: 78%;
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  box-sizing: border-box;
}
.popup .left-content__container .slider-image__container {
  flex-basis: 72%;
  flex-shrink: 10;
  width: 100%;
  position: relative;
}
.popup .left-content__container .img__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.popup .left-content__container .content__box {
  flex-grow: 1;
  background-color: white;
  width: 100%;
  max-width: 930px;
  box-sizing: border-box;
  padding: 32px 0 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup .left-content__container .content__box p {
  color: black;
  padding: 0px 32px 0 25px;
}
.popup .left-content__container .content__box a {
  position: relative;
  overflow: hidden;
  color: #530215;
  display: inline-flex;
  align-items: center;
  float: right;
  margin-right: 25px;
  margin-top: 11px;
  align-self: flex-end;
}
.popup .left-content__container .content__box a .arrow {
  margin-left: 2px;
}
.popup .left-content__container .slider-text__container {
  min-width: 100%;
  max-width: 0;
}
.popup .left-content__container .top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 18px;
  margin-top: 27px;
}
.popup .right-menu__container {
  flex-basis: 22%;
  background-color: #f7f7f7;
  min-width: 225px;
  display: flex;
  flex-direction: column;
}
.popup .right-menu__container .top-bar {
  padding: 10px 10px;
}
.popup .right-menu__container .nav__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 56.3%;
}
.popup .right-menu__container .feedback-form {
  height: 30%;
  width: 179px;
  margin: 0 auto;
}
.popup .right-menu__container .feedback-form > h1 {
  color: #530215;
  margin-bottom: 32px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.popup .right-menu__container .feedback-form > input {
  width: 175px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-color: rgba(255, 255, 255, 0.23);
  height: 40px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.83);
  outline: none;
}
.popup .right-menu__container .feedback-form > a {
  width: 100%;
  height: 49px;
  line-height: 49px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.popup .right-menu__container .nav__wrap {
  margin-top: -18px;
}
.popup .right-menu__container a {
  color: #b2b2b2;
  margin-bottom: 16px;
  display: block;
  position: relative;
}
.popup .right-menu__container a:hover,
.popup .right-menu__container a[class~='active'] {
  color: #530215;
}
.popup .right-menu__container a[class~='active']:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #530215;
  top: 6px;
  left: -8px;
}
.popup .right-menu__container .exit {
  float: right;
}
@media (max-width: 768px) {
  .popup {
    width: 90%;
    max-height: 100%;
    flex-direction: column-reverse;
    padding: 0;
  }
  .popup .left-content__container {
    width: 100%;
    padding: 0;
  }
  .popup .left-content__container .slider-image__container {
    flex-basis: 55%;
  }
  .popup .left-content__container .content__box {
    padding: 20px 0 18px;
  }
  .popup .right-menu__container {
    width: 100%;
  }
  .popup .right-menu__container .nav__wrap {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100%;
  }
}
@media (max-width: 560px) {
  .popup .left-content__container p {
    font-size: 10px;
    line-height: 16px;
  }
  .popup .left-content__container a {
    font-size: 12px;
  }
  .popup .left-content__container .content__box {
    padding: 20px 0 18px;
  }
  .popup .right-menu__container a {
    margin-bottom: 6px;
    font-size: 10px;
  }
  .popup .right-menu__container a[class~='active']:after {
    display: none;
  }
}
@media (orientation: landscape) and (max-height: 560px) {
  .popup {
    min-height: 576px;
  }
  .popup .left-content__container p {
    font-size: 10px;
    line-height: 16px;
  }
  .popup .left-content__container a {
    font-size: 12px;
  }
  .popup .left-content__container .content__box {
    padding: 20px 0 18px;
  }
  .popup .right-menu__container a {
    margin-bottom: 6px;
    font-size: 10px;
  }
  .popup .right-menu__container a[class~='active']:after {
    display: none;
  }
}

.bg-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 998;
}

.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 120;
}
@media (orientation: landscape) and (max-height: 560px) {
  .popup__container {
    overflow: overlay;
    align-items: flex-start;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

@media (max-width: 560px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 36px;
  }
  .select__list {
    justify-content: center;
  }
}
